@using WorkSpace.Models
@model Urun_Model
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ekle</h2>

<form>
    <div class="mb-3">
        @Html.LabelFor(m => m.Ad, new { @class = "form-label" })
        @Html.TextBoxFor(m => m.Ad, new { @class = "form-control" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(m => m.Kod, new { @class = "form-label" })
        @Html.TextBoxFor(m => m.Kod, new { @class = "form-control" })
    </div>
    <div class="mb-3">
        @Html.LabelFor(m => m.Detay, new { @class = "form-label" })
        @Html.TextAreaFor(m => m.Detay, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Gonder</button>
</form>